<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- adding Npgsql vNext, because at the time of testing, the metrics weren't on Nuget preview yet -->
        <add key="Npgsql vNext" value="https://www.myget.org/F/npgsql-vnext/api/v3/index.json" />
    </packageSources>
</configuration>
